.results {
    display: none;
    padding-block: var(--spacing);
    background-color: var(--clr-neutral-black);

    &__container {
        h2 {
            max-width: 40ch;
        }

        ul {
            padding-block: 3rem;
            display: grid;
            gap: 2rem;
            row-gap: 3rem;
            grid-template-columns: 1fr 1fr;

            @media (min-width: 45em) {
                grid-template-columns: repeat(4, 1fr);
                padding-top: 4rem;
            }

            li {
                display: grid;
                grid-template-rows: max-content min-content 1fr;
                text-align: center;
                justify-items: center;

                img {
                    margin-bottom: 0.75rem;
                }

                h4 {
                    font-size: 1.75rem;
                    font-weight: 700;
                }

                p {
                    font-size: 1.125rem;
                }
            }
        }

        a {
            margin-top: 1rem;
            display: grid;
            max-width: 23rem;
            text-align: center;
            margin-inline: auto;
        }
    }
}
